mat-toolbar-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

button {
  margin-right: 16px;
}

.header-title {
  user-select: none;
}

.github-icon {
  height: 26px;
}
