form {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 100px 1fr;
  align-items: center;
}

label {
  text-align: right;
  vertical-align: center;
}

.builder-wrapper {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: auto 1fr;
  align-items: start;
}
